{% extends "btccssq/views/templates/base.html" %}
{% block content %}
 
<br><br><br><br><br><br><br><br>
 <p>
 	<font face="Viner Hand ITC, Vivaldi, Papyrus">
“	We the Subscribers, Brokers for the Purchase and Sale of the beloved Bitcoin, do hereby solemnly promise and pledge ourselves to each other, that we will not buy or sell from this day for any person whatsoever, any kind of free currency, at a less rate than one quarter percent Commission on the Specie value and that we will give preference to each other in our Negotiations. In Testimony whereof we have set our hands this 20th day of January at New York, 2014.	”
</p> 	
</font>
{% endblock %}
