<html>
<head>
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript">

		$.ajax({
			url: 'https://coinbase.com/api/v1/prices/buy',
			type: 'GET',
			crossDomain: true,
			dataType: 'jsonp',
			success:
				function(data) {
				$("#btce").html("$ " + data.subtotal.amount)
				console.log(data.subtotal.amount)
				},
			error: function() { alert('Failed!'); },
			//beforeSend: setHeader
		});


</script>
</head>
<body>
<div id="btce">
</div>
</body>
</html>
