{% extends "btccssq/views/templates/base.html" %}
{% block content %}
 <div class="jumbotron">
    <h1>Satoshi Square NYC!</h1>
     <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         brought to you by the NYC Bitcoin Center
     </h3>
     <h3>GOTO http://site.com/order on your phone</h3>
 </div>


    <div class="book_container">
        <div class="row">
            <h3>Latest Transaction:</h3>
        </div>
    </div>


 <!-- <div class="row-fluid"></div> -->



<div class="book_container">


            <div class="container">
			<h4>Open Interest</h4>
            <div class="row">

            <div class="col-md-2 bid_id">
                <h3>Satoshi ID</h3>
              <ul>
                <li>0001</li>
                <li>0001</li>
                <li>0001</li>
                <li>0001</li>
             </ul>

            </div>

            <div class="col-md-3 bid_px">
                <h3>BEST BIDS &rarr;</h3>
              <ul>
                <li>0001</li>
                <li>0001</li>
                <li>0001</li>
                <li>0001</li>
             </ul>

            </div>

            <div class="col-md-3 ask_px">
                <h3>&larr; BEST OFFERS</h3>
              <ul>
                <li>0001</li>
                <li>0001</li>
                <li>0001</li>
                <li>0001</li>
             </ul>


            </div>

            <div class="col-md-2 ask_id">
                <h3>Satoshi ID</h3>
              <ul>
                <li>0001</li>
                <li>0001</li>
                <li>0001</li>
                <li>0001</li>
             </ul>


            </div>



             </div>


</div>

{% endblock %}
