{% extends "btccssq/views/templates/base.html" %}
{% block content %}
<div id="title_banner">

    <h1>The NYC Bitcoin Center presents: <b>Satoshi Square NYC!</b></h1>
     <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		GOTO <a href="/order">http://site.com/order</a> on your phone to participate.
	</h3>
</div>

<pre>
	<table class="table table-striped">

		<tbody>
			<tr>
				<td>001 bought 3.00 BTC from 006 @ $802.67 btc</td>
			</tr>
			<tr>
				<td>021 bought 0.30 BTC from 006 @ $805.54 /btc</td>
			</tr>
			<tr>
				<td>001 bought 4.00 BTC from 006 @ $802.67 /btc</td>
			</tr>
			<tr>
				<td>001 bought 1.89 BTC from 006 @ $802.67 /btc</td>
			</tr>
		</tbody>
	</table>
</pre>

<div class="col-md-9">
	<table class="table orderbook">
	
		<thead>
			<tr>
				<th>Satoshi ID is &rarr;</th>
				<th>Buying at</th>
				<th>Selling at </th>
				<th>Satoshi ID</th>
			</tr>
		</thead>

		<tbody>

            <tr class="bestbid">
				<td>-</td>
				<td>-</td>
			</tr>
			
			{% for order in orders %}
              <tr>
                <td>  {{order.SATOSHIID}}  </td>
                <td>  {{order.PRICE}} ( {{order.QUANTITY}} ) </td>
              </tr>
            {% endfor %}


            <div id="asks_container">

	            <tr class="bestask">
					<td>-</td>
					<td>-</td>
				</tr>
				
				{% for order in orders %}
	              <tr>
	                <td>  {{order.SATOSHIID}}  </td>
	                <td>  {{order.PRICE}} ( {{order.QUANTITY}} ) </td>
	              </tr>
	            {% endfor %}

            </div> 


            
			<tr>
				<td>-</td>
				<td class="spt">-</td>
				<td>834.00 (0.2)</td>
				<td>011</td>
			</tr>
		</tbody>
	</table>

* You post it. You honor it.
</div>



<div class="col-md-3">

	<h3>Online Exchanges:</h3>
	
	<pre>

		<div id="coinbase"></div>
		<div id="bitfinex"></div>
		<div id="bitstamp"></div>
		<div id="btc-e"></div>
		<div id="itbit"></div>
		<div id="average"></div>

		<span id="clock">&nbsp;</span>

	</pre>	

		<script>
			$.ajax({
				url: 'https://coinbase.com/api/v1/prices/buy',
				type: 'GET',
				crossDomain: true,
				dataType: 'jsonp',
				success:
				function(data) {
					$("#coinbase").html("$ " + data.subtotal.amount + " - Coinbase")
				},
				error: function() { console.log('-----'); },
				//beforeSend: setHeader
			});
		</script>


		<script>
			$.ajax({
				url: 'https://www.itbit.com/api/feeds/ticker/XBTUSD',
				type: 'GET',
				crossDomain: true,
				dataType: 'jsonp',
				success:
				function(data) {
					$("#itbit").html("$ " + data.bid + " - ItBit");
				},
				error: function() { console.log('-----'); }
				//beforeSend: setHeader
			});
		</script>


		<script>

			$.ajax({
				url: 'https://api.bitcoinaverage.com/no-mtgox/all',
				type: 'GET',
				crossDomain: true,
				success:
				function(data) {
					$("#average").html("$ " + data.USD.averages.last + " - Average");
					$("#bitfinex").html("$ " + data.USD.exchanges.bitfinex.rates.last + " - Bitfinex");
					//$("#localbitcoin").html("$ " + data.USD.exchanges.localbitcoins.rates.last + " - LocalBitcoins");
					$("#bitstamp").html("$ " + data.USD.exchanges.bitstamp.rates.last + " - BitStamp");	
					$("#btc-e").html("$ " + data.USD.exchanges.btce.rates.last + " - BTC-e");	
				},
				error: function() { console.log('-----'); },
				//beforeSend: setHeader
			});

		</script>


		<script type="text/javascript">

			function updateClock ( )
			{
			  var currentTime = new Date ( );

			  var currentHours = currentTime.getHours ( );
			  var currentMinutes = currentTime.getMinutes ( );
			  var currentSeconds = currentTime.getSeconds ( );

			  // Pad the minutes and seconds with leading zeros, if required
			  currentMinutes = ( currentMinutes < 10 ? "0" : "" ) + currentMinutes;
			  currentSeconds = ( currentSeconds < 10 ? "0" : "" ) + currentSeconds;

			  // Choose either "AM" or "PM" as appropriate
			  var timeOfDay = ( currentHours < 12 ) ? "AM" : "PM";

			  // Convert the hours component to 12-hour format if needed
			  currentHours = ( currentHours > 12 ) ? currentHours - 12 : currentHours;

			  // Convert an hours component of "0" to "12"
			  currentHours = ( currentHours == 0 ) ? 12 : currentHours;

			  // Compose the string for display
			  var currentTimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds + " " + timeOfDay;

			  // Update the time display
			  document.getElementById("clock").firstChild.nodeValue = currentTimeString;
			}

		</script>








{% endblock %}
