<!-- latest.html -->

<html>
<head>
	<title>Latest Transactions</title>

</head>
<body>
	<br><br>
<form>
	<input type="text" name="buyerid" class="form-control" placeholder="buyer ID #"> bought
	<input type="text" name="quantity" class="form-control" placeholder="quantity"> btcs from 
	<input type="text" name="sellerid" class="form-control" placeholder="seller ID #"> @
	<input type="text" name="price" class="form-control" placeholder="price (per btc)">

	<input type="text" class="form-control" placeholder="MAGIC NUMBER">

	<button type="button" class="btn btn-primary">Register Transaction!</button>
</form>

</body>
</html>