{% extends "btccssq/views/templates/base.html" %}
{% block content %}
		<h1><a>Satoshi Square</a></h1>
		<form id="form_777251" class="appnitro"  method="post" action="/formbuilder/view.php">
					<div class="form_description">
	</div>
			<ul >

					<li id="li_1" >
		<label class="description" for="element_1">Satoshi ID </label>
		<div>
			<input id="element_1" name="element_1" class="element text medium" type="text" maxlength="255" value=""/>
		</div>
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Quantity </label>
		<div>
			<input id="element_2" name="element_2" class="element text medium" type="text" maxlength="255" value=""/>
		</div>
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Price </label>
		<div>
			<input id="element_3" name="element_3" class="element text medium" type="text" maxlength="255" value=""/>

        </div>
		</li>

					<li class="buttons">
			    <input type="hidden" name="form_id" value="777251" />

				<input id="saveForm" class="button_text" type="submit" name="submit" value="BUY" />
				<input id="saveForm" class="button_text" type="submit" name="submit" value="SELL" />
		</li>
			</ul>
		</form>
{% endblock %}
