html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 25px;
}
h4 {
	margin-top: 2px;
}
.error {
    color: red;
}
.table {
	margin-bottom: 2px;	
}
button {
	width:120px;
	margin: 7px;
	margin-right:0px;
}
select {
	width:120px;
}
input {
	width:120px;
}
#right-panel {
	margin:8px;
}
#order_form {
	padding: 10px 0px;
	width: 270px;
}
tr.bestbid {

}
#bids_container {
	margin-right: 5px;
}

#asks_container {
	margin-left: 5px; 
}
.bid_id {
	border: solid 1px grey;
}
.bid_px {
	border: solid 1px grey;
}
.table.orderbook {
	font-size:150%;
}
.ask_id {
	border: solid 1px grey;
}
.ask_px {
	border: solid 1px grey;
}
.book_container {
	padding: 10px;
	border: solid 2px blue;
}
#title_banner {
	padding: 10px;
	margin: 10px;
	border: solid 2px blue;
}
tr.bestbid {
	background-color:#CCFFCC;
}
.table tbody tr td.spt {
	border-right:10px solid white;
       }	
